.vscode/*
node_modules

.nyc_output
coverage

data*/*
.cache/*
.jiraCache.json
*.json
*.html

config/*

*.mmd
vite-app/*

static/*

.lite_workspace.lua

*.sh
*.csv
*.bat

output*

auth*.js
getCreatedReport.js
processChangeData.js
testLinkSummarizer.js  
JiraStatusServer-*
item-counts.js
scratch.js

