.vscode/*
node_modules

.nyc_output
coverage

.cache/*

data*/*
.cache/*
.jiraCache.json
*.json
*.html

scratch.js

config/*

auth*.js

*.mmd
vite-app/*

static/*

JiraStatusServer-*

item-counts.js

.lite_workspace.lua

*.sh
*.csv
